<% extend('layout') %>

      <div class="container">
        <% if (watchlist.length > 0) { %>
          <% for(var i=0; i < watchlist.length; i++) { %>
            <div class="card" data-id= <%= watchlist[i].id %>> 
              <div class="card-body">
                <img src= <%= watchlist[i].imgSrc %> class="film-img" width="290" height="450">
                <p>Release date: <%= watchlist[i].releaseDate %></p>
                <div class="scores">
                  <p>RT score: <%=watchlist[i].rtScore %>  <img src= <%= watchlist[i].rtImgSrc %> width='30'></p>
                  <% if (watchlist[i].avgUserScore != null) { %>
                  <p>Avg user score: <%=watchlist[i].avgUserScore %></p>
                  <% } %>
                </div>
                <div class="footer">
                  <button type="button" class="btn btn-secondary more-info-btn" data-toggle="modal" data-target="#moreInfoModal">More...</button>
                  <button type="button" class="btn btn-primary remove-btn">Remove</button>
                  <button type="button" class="btn btn-outline-success watched-btn">Watched?</button>
                </div>
              </div>
            </div>
          <% } %>
        <% } %>
      </div>
    </div>